<% include ../header %>

<script>
	known_hexabus_devices = <%- JSON.stringify(devices) %>;
</script>

<a href="/wizard/devices/add" class="btn" data-localize="wizard.devices.add">Add device</a>

<div class="container" data-ng-controller="devicesList">
	<table class="table table-hover">
		<tr data-ng-repeat="device in devices">
			<th>
				<p>{{device.name}}</p>
				<p>{{device.ip}}</p>
			</th>
			<td>
				<p data-ng-repeat="eid in device.eids">{{eid.description}} ({{eid.unit}})</p>
				<p><span data-localize="last-update.label">Last update.</span> {{ Lang.localizeLastUpdate(device.last_update) }}</p>
			</td>
		</tr>
	</table>
</div>

<% include ../footer %>
