<% include ../header %>

<div id="start" class="page text-center wizard-step">
	<p class="lead" data-localize="start-message">Cannot link to mySmartGrid. Do you want to configure your device?</p>
	<a href="/wizard/connection" class="btn btn-success" data-localize="start-button">Start configuration</a>
</div>

<% include ../footer %>
