<% include ../header %>

<div id="start" class="page text-center wizard-step">
	<p class="lead" data-localize="wizard.new.welcome">Welcome to your new Hexabus Base Station.</p>
	<p class="lead" data-localize="wizard.new.unconfigured">This base station is not yet configured.</p>
	<a href="/wizard/connection" class="btn btn-success" data-localize="wizard.new.start-configuration">Start configuration</a>
</div>

<% include ../footer %>
