<% include ../header %>
<script>
	known_hexabus_devices = <%- JSON.stringify(devices) %>;
</script>



<div class="container" data-ng-controller="stateMachine">

	<div class="alert alert-info" data-ng-show="progressAlert.show">
		<div class="progress progress-striped active" data-ng-show="progressAlert.percent > 0">
			<div class="progress-bar" style="width: {{progressAlert.percent}}%"></div>
		</div>
		{{progressAlert.text}}
	</div>

	<div class="alert alert-danger" data-ng-show="errorAlert.show">
		{{errorAlert.text}}
	</div>

	<div class="alert alert-success" data-ng-show="successAlert.show" data-localize="wizard.state-machine.upload-success">
		Upload sucessful !
	</div>


	<div class="well">
		<h3 data-localize="wizard.state-machine.new">New state machine</h3>
		<div class="form-group">
			<label class="control-label" data-localize="wizard.state-machine.choose">Choose a ... from below.</label>
			<select class="form-control" data-ng-model="machineProp" data-ng-disabled="busy" data-ng-change="resetForms()">
				<option value="master_slave">Master/Slave</option>
				<option value="standbykiller">Standbykiller</option>
			</select>
		</div>
	</div>

	<div class="well" data-ng-show="machineProp=='master_slave'">
		<form role="form" name="masterSlaveForm" novalidate>
			<div class="form-group" data-ng-class="{'has-error': masterSlaveForm.$error.disjointDevices, 'has-success': !masterSlaveForm.$error.disjointDevices }">
				<label for="master" class="control-label" data-localize="wizard.state-machine.choose-master">Choose master</label>
				<select class="form-control" name="master" data-ng-model="masterSlave.master" data-ng-options="value.ip as value.name for (key,value) in devices"
					data-ng-required="true" data-ng-init="masterSlaveForm.master = devices[0].name" data-ng-change="masterSlave.validateForm()">
				</select>
			</div>
			<div class="form-group" data-ng-class="{'has-error': masterSlaveForm.threshold.$invalid, 'has-success': masterSlaveForm.threshold.$valid }">
				<label for="treshold" class="control-label" data-localize="wizard.state-machine.choose-threshold">Choose threshold</label>
				<input class="form-control" type="number" data-ng-pattern="/^-?\d+$/" name="threshold" min="1" max="4294967295"
					data-ng-model="masterSlave.threshold" data-ng-required="true">
				<p class="help-block"
					data-ng-show="masterSlaveForm.threshold.$error.number || masterSlaveForm.threshold.$error.required || masterSlaveForm.threshold.$error.pattern "
					data-localize="wizard.state-machine.errors.no-valid-number">
					Not a valid number.
				</p>
				<p class="help-block" data-ng-show="masterSlaveForm.threshold.$error.min"
					data-localize="wizard.state-machine.errors.number-min-u32">
					The value has to be greater then 0.
				</p>
				<p class="help-block" data-ng-show="masterSlaveForm.threshold.$error.max"
					data-localize="wizard.state-machine.errors.number-max-u32">
					The value has to be smaller then 4294967296.
				</p>
			</div>
			<div class="form-group"
				data-ng-class="{'has-error': masterSlaveForm.$error.disjointDevices || masterSlave.slaves.length == 0,
				'has-success': !masterSlaveForm.$error.disjointDevices && masterSlave.slaves.length > 0 }">
				<label class="control-label" data-localize="wizard.state-machine.add-slaves">Add slaves</label>
				<div data-ng-repeat="slave in masterSlave.slaves">
					<div class="row">
						<div class="col-xs-1">
						<!-- Just a placeholder -->
						</div>
						<div class="col-xs-5">
							<select class="form-control" data-ng-model="slave.ip" data-ng-options="value.ip as value.name for (key,value) in devices"  data-ng-required="true"
								data-ng-change="masterSlave.validateForm()">
							</select>
						</div>
						<div class="col-xs-2">
							<button type="button" class="btn btn-danger" data-ng-click="masterSlave.removeSlave(slave)" data-ng-disabled="busy">
								<span class="glyphicon glyphicon-remove"></i>
							</button>
						</div>
					</div>
					<br/>
				</div>
				<p class="help-block" data-ng-show="masterSlaveForm.$error.disjointDevices" data-localize="wizard.state-machine.errors.disjoint-devices">
					Use each device only once.
				</p>
				<p class="help-block" data-ng-show="masterSlave.slaves.length == 0" data-localize="wizard.state-machine.errors.no-slaves">
					Select at least on slave device.
				</p>
			</div>
			</br>
			<button data-ng-disabled="busy || (masterSlave.slaves.length >= masterSlave.maxSlaveCount)" class="btn btn-success"
				data-localize="wizard.state-machine.add-slave" data-ng-click="masterSlave.addSlave()">Add Slave</button>
			<button data-ng-disabled="masterSlaveForm.$invalid || busy || (masterSlave.slaves.length == 0)" class="btn btn-success"
				data-localize="wizard.state-machine.upload" data-ng-click="send_master_slave()">Upload</button>
		</form>
	</div>

	<div data-ng-show="machineProp=='standbykiller'" class="well">
		<form role="form" name="standbykillerForm" novalidate>
			<div class="control-group has-success">
				<label for="device" class="control-label" data-localize="wizard.state-machine.choose-device">Choose device</label>
				<select class="form-control" name="device" data-ng-model="standbyKiller.device"
					data-ng-options="value.ip as value.name for (key,value) in devices" data-ng-required="true">
				</select>
			</div>
			<div class="control-group" data-ng-class="{'has-error': standbykillerForm.threshold.$invalid, 'has-success': standbykillerForm.threshold.$valid}">
				<label for="threshold" class="control-label" data-localize="wizard.state-machine.choose-threshold">Choose threshold.</label>
				<input class="form-control" type="number" name="threshold" min="1" max="4294967295" data-ng-model="standbyKiller.threshold"
					data-ng-pattern="/^-?\d+$/" data-ng-required="true">
				<p class="help-block"
					data-ng-show="standbykillerForm.threshold.$error.number || standbykillerForm.threshold.$error.required || standbykillerForm.threshold.$error.pattern"
					data-localize="wizard.state-machine.errors.no-valid-number">
						Not a valid number.
				</p>
				<p class="help-block" data-ng-show="standbykillerForm.threshold.$error.min"
					data-localize="wizard.state-machine.errors.number-min-u32">
						The value has to be greater then 0.
				</p>
				<p class="help-block" data-ng-show="standbykillerForm.threshold.$error.max"
					data-localize="wizard.state-machine.errors.number-max-u32">
						The value has to be smaller then 4294967296.
				</p>
			</div>
			<div class="control-group" data-ng-class="{'has-error': standbykillerForm.timeout.$invalid, 'has-success': standbykillerForm.timeout.$valid}">
				<label class="control-label" for="timeout" data-localize="wizard.state-machine.choose-timeout">Choose timeout.</label>
				<input class="form-control" type="number" name="timeout" min="1" max="4294967295" data-ng-model="standbyKiller.timeout"
					data-ng-pattern="/^-?\d+$/"  data-ng-required="true">
				<p class="help-block"
					data-ng-show="standbykillerForm.timeout.$error.number || standbykillerForm.timeout.$error.required || standbykillerForm.timeout.$error.pattern"
					data-localize="wizard.state-machine.errors.no-valid-number">
						Not a valid number.
				</p>
				<p class="help-block" data-ng-show="standbykillerForm.timeout.$error.min"
					data-localize="wizard.state-machine.errors.number-min-u32">
						The value has to be greater then 0.
				</p>
				<p class="help-block" data-ng-show="standbykillerForm.timeout.$error.max"
					data-localize="wizard.state-machine.errors.number-max-u32">
						The value has to be smaller then 4294967296.
				</p>
			</div>
			<br/>
			<button data-ng-disabled="standbykillerForm.$invalid || busy" class="btn btn-success" data-localize="wizard.state-machine.upload"
			data-ng-click="send_standbykiller()">Upload</button>
		</form>
	</div>
</div>

<% include ../footer %>
