<% include ../header %>

<div class="page text-center wizard-step">
	<h3 class="text-success">Success!</h3>
	<p class="lead" data-localize="success-message1">Your device is now connected to mySmartGrid.</p>
	<!--- <p class="lead" data-localize="success-message2">Next step: Please link your Hexabus devices with the base station.</p>
	<a id="link-devices" href="config#network" class="btn btn-success">Link devices</a> -->
	<a href="/" class="btn btn-success" data-localize="dasboard-button">Continue to dashboard</a>
</div>

<% include ../footer %>
