<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.fraunhofer.itwm.hexabus.android"
      android:versionCode="2"
      android:versionName="0.11">
    <uses-permission android:name="android.permission.INTERNET" />
     <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"></uses-permission>
    <uses-sdk android:minSdkVersion="9"
              android:targetSdkVersion="16"/>
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher">
        <activity android:name="HexaDroid"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="RemoteActivity" />
        <activity android:name="MonitorActivity" />
        <activity android:name="DeviceActivity" />
        <receiver android:name="BootReceiver"></receiver>
        <service android:name="HexabusService" android:label="@string/service_name"></service>
    </application>
</manifest>