<% include ../header %>

<script>
	known_hexabus_devices = <%- JSON.stringify(known_devices) %>;
	used_hexabus_devices = <%- JSON.stringify(used_devices) %>;
</script>

<div class="container" data-ng-controller="viewConfig">
	<div class="row-fluid">
		<label for="name">Name of view:</label>
		<input type="text" id="name" name="view_name" form="form" value="<%= view_name %>" />
	</div>
	<div class="row">
		<div class="col-md-4">
			<h3>Display order</h3>
			<div class="device-list-container">
				<table class="table table-striped table-hover device-list devices-for-view">
					<tbody>
						<tr data-ng-repeat="ep in usedEndpoints">
							<td data-endpoint-id="{{ep.id}}">{{ep.name}} - {{ep.description | localize:'endpoint-registry.descriptions':ep.eid}}</td>
						</tr>
						<tr class="device-list-helper-row"><td></td></tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-2 text-center" style="margin-top: 5em">
			<h1>&#8822;</h1>
			<div>
				Drag devices from the right to the left to add them to the view, drag them from the left to the right to remove them.
			</div>
		</div>
		<div class="col-md-4">
			<h3>Available devices</h3>
			<div class="device-list-container">
				<table class="table table-striped table-hover device-list">
					<tbody>
						<tr data-ng-repeat="ep in unusedEndpoints">
							<td data-endpoint-id="{{ep.id}}">{{ep.name}} - {{ep.description | localize:'endpoint-registry.descriptions':ep.eid}}</td>
						</tr>
						<tr class="device-list-helper-row"><td></td></tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<hr />
	<div class="row">
		<div class="col-md-3 col-md-offset-9">
			<form method="post" action="/view/edit/<%= view_id %>" id="form">
				<input type="hidden" name="device_order" id="device-order" value="" />
				<button data-ng-click="doneClick()">Save</button>
			</form>
		</div>
	</div>
</div>

<% include ../footer %>
