body {
	padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.vis-endpoint {
	position: relative;
	width: 200px;
	height: 160px;
}
.transient {
}
div.updating-thus-disabled {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.1;
}
div.gauge-disabled {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: black;
	opacity: 0.6;
}
div.spinner-large {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: center url('/img/spinner-large.gif') no-repeat;
}
.wizard-step {
	position: absolute;
	top: 40%;
	bottom: 20%;
	width: 100%;
}


.device-list-container {
	height: 20em;
	overflow: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.device-list-helper-row {
	height: 4em;
}
.device-list > tbody > tr.device-list-helper-row:not(:only-child) {
	display: none;
}
tr.device-list-helper-row td {
	background-color: #ada !important;
}


.vis-bool-switch {
	position: relative;
}
.vis-bool-switch .title {
	color: #999;
	font-size: 1.4em;
}
.vis-bool-switch .switch-container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	height: 20%;
	width: 50%;
}
.vis-bool-switch .make-switch {
	width: 100%;
}
