    <!--- enable navigation, see
    http://twitter.github.com/bootstrap/javascript.html#tabs -->
    <script>
      $("#main-navbar-collapsible").collapse('hide');

			(function() {
				var localizeBySelector = function(selector) {
					$(selector).localize("lang", { pathPrefix: "/lang/", language: "de" });
				};
				localizeBySelector("[data-localize]");

				var localizeLastUpdate = function(unix_ts) {
					var lastUpdateTexts = {
						now: "now",
						seconds: "{ago} seconds ago",
						minutes: "{ago} minutes ago"
					};

					lastUpdateTexts.now = $.localize.data.lang["last-update"]["now"];
					lastUpdateTexts.seconds = $.localize.data.lang["last-update"]["seconds-ago"];
					lastUpdateTexts.minutes = $.localize.data.lang["last-update"]["minutes-ago"];

					var secondsDiff = Math.round((Date.now() - 1000 * unix_ts) / 1000);
					var ago, template;
					if (secondsDiff <= 1) {
						template = lastUpdateTexts.now;
					} else if (secondsDiff < 60) {
						ago = Math.round(secondsDiff);
						template = lastUpdateTexts.seconds;
					} else {
						ago = Math.round(secondsDiff / 60);
						template = lastUpdateTexts.minutes;
						nextUpdateIn = 30000;
					}
					return template.replace("{ago}", ago);
				};

				angular.module('i18n', [])
					.factory('Lang', function() {
						return {
							localize: localizeBySelector,
							pack: $.localize.data.lang,
							localizeLastUpdate: localizeLastUpdate
						};
					})
					.filter('displayUnit', function() {
						return function(text) {
							if (text == "degC") {
								return "°C";
							} else {
								return text;
							}
						};
					})
					.filter('localize', function() {
						return function(text, prefix, key) {
							if (key == undefined) {
								key = text;
							}
							var pack = $.localize.data.lang;
							if (prefix != undefined) {
								var parts = prefix.split('.');
								for (var idx in parts) {
									pack = pack[parts[idx]] || {};
								}
							}
							return pack[key] != undefined
								? pack[key]
								: text;
						};
					});
			})();
			jQuery(document).ready(function($) {
				$('#jsActivated').show();
			});
    </script>

    </div> <!--- jsActivated -->
    <noscript>
      <div class="page text-center">
	<p class="lead">Javascript is needed for this site to work.</p>
	<p class="lead">Für diese Seite wird Javascript benötigt.</p>
      </div>
    </noscript>

  </body>
</html>
