    <!--- enable navigation, see
    http://twitter.github.com/bootstrap/javascript.html#tabs -->
    <script>
			jQuery(document).ready(function($) {
				$('#jsActivated').show();
			});
      $("#main-navbar-collapsible").collapse('hide');
    </script>

    </div> <!--- jsActivated -->
    <noscript>
      <div class="page text-center">
	<p class="lead">Javascript is needed for this site to work.</p>
	<p class="lead">Für diese Seite wird Javascript benötigt.</p>
      </div>
    </noscript>

  </body>
</html>
