    
    <!--- enable navigation, see
    http://twitter.github.com/bootstrap/javascript.html#tabs -->
    <script>
      $(".nav-collapse").collapse('hide');

			(function() {
				var localizeBySelector = function(selector) {
					$(selector).localize("lang", { pathPrefix: "/lang/", language: "de" });
				};
				localizeBySelector("[data-localize]");

				angular.module('i18n', []).factory('Lang', function() {
					return {
						localize: localizeBySelector,
						pack: $.localize.data.lang
					};
				});
			})();
    </script>

  </body>
</html>
