    
    <!--- enable navigation, see
    http://twitter.github.com/bootstrap/javascript.html#tabs -->
    <script>
      $(".nav-collapse").collapse('hide');

			(function() {
				var localizeBySelector = function(selector) {
					$(selector).localize("lang", { pathPrefix: "/lang/", language: "de" });
				};
				localizeBySelector("[data-localize]");

				angular.module('i18n', []).factory('Lang', function() {
					return {
						localize: localizeBySelector,
						pack: $.localize.data.lang
					};
				});
			})();

			// fix bootstrap dropdowns not working on mobile devices
			// taken from http://stackoverflow.com/a/18107103
			jQuery(document).ready(function($) {
				$("li.dropdown a").click(function(e){
					$(this).next('ul.dropdown-menu').css("display", "block");
					e.stopPropagation();
				});
			});
    </script>

  </body>
</html>
