    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--- enable navigation, see
    http://twitter.github.com/bootstrap/javascript.html#tabs -->
    <script>
      $(".collapse").collapse();
    </script>

  </body>
</html>
