    
    <script src="js/angular-1.0.8.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!--- enable navigation, see
    http://twitter.github.com/bootstrap/javascript.html#tabs -->
    <script>
      $(".collapse").collapse();
    </script>

  </body>
</html>
