<!DOCTYPE html>
<html lang="en" data-ng-app="dashboard">
  <head>
		<title data-localize="title">Hexabus Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen" />
    <link href="/css/main.css" rel="stylesheet" media="screen" />
    <link href="/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/css/bootstrap-switch.css" rel="stylesheet" />
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png" />
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png" />
    <link rel="shortcut icon" href="../assets/ico/favicon.png" />

		<script src="/js/jquery-1.10.2.min.js"></script>
		<script src="/js/angular-1.0.8.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/bootstrap-switch.js"></script>
		<script src="/js/jquery.localize.js"></script>
		<script src="/js/jquery-ui-1.10.3.custom.js"></script>

		<script src="/js/ng-socket.js"></script>
		<script src="/js/gauges.js"></script>
		<script src="/js/controls.js"></script>
		<script src="/js/app.js"></script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapsible">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/" data-localize="navbar.console">Hexabus Console</a>
			</div>
			<div class="collapse navbar-collapse" id="main-navbar-collapsible">
				<ul class="nav navbar-nav">
					<li class="<%= active_nav == 'dashboard' ? 'active' : '' %>"><a href="/" data-localize="navbar.main">Main</a></li>
					<li class="dropdown <%= active_nav == 'configuration' ? 'active' : '' %>">
						<a class="dropdown-toggle" data-toggle="dropdown" data-localize="navbar.configuration">Configuration<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/wizard/current" data-localize="navbar.network-status">Network status</a></li>
							<li><a href="/wizard/devices" data-localize="navbar.device-list">Devices</a></li>
							<li class="divider"></li>
							<li><a href="/wizard/reset" class="btn btn-danger" data-localize="navbar.reset-device">Reset device</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav pull-right">
					<li data-ng-controller="healthController">
						<span class="btn-danger btn" data-ng-show="errorState">
							<a class="glyphicon glyphicon-warning-sign" href="/wizard/current"></a>
						</span>
					</li>
					<li class="<%= active_nav == 'about' ? 'active' : '' %>">
						<a class="pull-right" href="/about" data-localize="navbar.about">About</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="jsActivated" style="display:none">
