<% include header %>

<script src="/js/raphael.2.1.0.min.js"></script>
<script src="/js/justgage.1.0.1.js"></script>

<script>
	all_views = <%- JSON.stringify(views) %>
</script>

<div class="container" data-ng-controller="dashboardController">
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#" data-ng-click="setView('sensors')" data-toggle="tab" data-localize="dashboard.all-sensors">All sensors</a>
		</li>
		<li>
			<a href="#" data-ng-click="setView('actors')" data-toggle="tab" data-localize="dashboard.all-actors">All actors</a>
		</li>
		<li data-ng-repeat="view in views">
			<a href="#" data-ng-click="setView(view)" data-toggle="tab">{{view.name}}</a>
		</li>
	</ul>
	<div class="tab-content">
		<h2 class="text-center" data-localize="dashboard.all-sensors" id="view-name">All sensors</h2>
		<div class="row">
			<div class="col-md-3">
				<p><span data-localize="last-update.label">Last update:</span> <span id="last-update-when"></span></p>
			</div>
			<div class="col-md-9">
				<ul class="list-inline">
					<li data-ng-repeat="ep in current_view.endpoints"
							data-ng-hide="ep.hide || !ep.ep_desc.unit && hide_unitless">
						<div data-vis-endpoint=""
								 data-endpoint="ep"
								 data-enable-edit="true"
								 data-edit-begin="editBegin"
								 data-edit-done="editDone">
						</div>
					</li>
				</ul>
			</div>
		</div> <!-- all-sensors -->
	</div>
</div> 

<% include footer %>
