<% include header %>

<script src="/js/raphael.2.1.0.min.js"></script>
<script src="/js/justgage.1.0.1.js"></script>

<div class="tab-content" ng-controller="gaugesDisplayController">
  <div class="tab-pane active" id="dashboard">
    <div class="container">
      <div class="row-fluid">
        <div class="span12">
          <div class="tabbable">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#dash" data-toggle="tab">Dashboard</a></li>
              <li><a href="#sensors" data-toggle="tab">Sensors</a></li>
            </ul>
          </div>
          <div class="tab-content">
            <!--- Dashboard -->
            <div class="tab-pane active" id="dash">
              <h2 class="text-center">Dashboard</h2>
              <div class="row-fluid">
                <div class="span3">
                  <p>Last update: {{lastUpdate}}</p>
                </div>
                <div class="span9">
                  <div class="row-fluid">
                    <ul class="inline" id="asdf">
                      <li ng-repeat="sensor in sensorList">
                        <gauge
                          id="{{sensor.id}}"
                          class="gauge"
                          title="{{sensor.name}}"
                          min="{{sensor.minvalue}}"
                          max="{{sensor.maxvalue}}"
                          value="{{sensor.value}}"
                          gauge="sensor.gauge"
                          min-click="minClick(sensor)"
                          max-click="maxClick(sensor)"
                          title-click="titleClick(sensor)" />
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> <!--- Dashboard -->
          </div>
        </div> <!--- tab-content -->
      </div>
    </div>
  </div>
</div> 

<% include footer %>
