<form role="form" name="masterSlaveForm" novalidate>
	<div class="form-group" data-ng-class="errorClass(masterSlaveForm.$error.disjointDevices || masterSlaveForm.master.$invalid)">
		<label for="master" class="control-label" data-localize="wizard.state-machine.choose-master">Choose master</label>
		<div data-device-selector="device-selector" class="form-control" name="master" data-model="masterSlave.master" 
			data-required="true" data-change="masterSlave.validateForm()" data-device-list="masterSlave.masterDevices">
		</div>
	</div>
	<div class="form-group" data-ng-class="errorClass(masterSlaveForm.threshold.$invalid)">
		<label for="treshold" class="control-label" data-localize="wizard.state-machine.choose-threshold">Choose threshold</label>
		<input class="form-control" type="number" data-ng-pattern="/^-?\d+$/" name="threshold" min="1" max="4294967295"
			data-ng-model="masterSlave.threshold" data-ng-required="true">
		<p class="help-block"
			data-ng-show="masterSlaveForm.threshold.$error.number || masterSlaveForm.threshold.$error.required || masterSlaveForm.threshold.$error.pattern"
			data-localize="wizard.state-machine.errors.no-valid-number">
			Not a valid number.
		</p>
		<p class="help-block" data-ng-show="masterSlaveForm.threshold.$error.min"
			data-localize="wizard.state-machine.errors.number-min-u32">
			The value has to be greater then 0.
		</p>
		<p class="help-block" data-ng-show="masterSlaveForm.threshold.$error.max"
			data-localize="wizard.state-machine.errors.number-max-u32">
			The value has to be smaller then 4294967296.
		</p>
	</div>
	<div class="form-group"
		data-ng-class="errorClass(masterSlaveForm.$error.disjointDevices || masterSlaveForm.$error.undefinedDevices || masterSlave.slaves.length == 0)">
		<label class="control-label" data-localize="wizard.state-machine.add-slaves">Add slaves</label>
		<div data-ng-repeat="slave in masterSlave.slaves">
			<div class="row">
				<div class="col-xs-1">
				<!-- Just a placeholder -->
				</div>
				<div class="col-xs-5">
					<div data-device-selector="device-selector" class="form-control" data-model="slave.ip" 
						data-required="true" data-change="masterSlave.validateForm()" data-device-list="masterSlave.slaveDevices">
					</div>
				</div>
				<div class="col-xs-2">
					<button type="button" class="btn btn-danger" data-ng-click="masterSlave.removeSlave(slave)" data-ng-disabled="busy">
						<span class="glyphicon glyphicon-remove"></i>
					</button>
				</div>
			</div>
			<br/>
		</div>
		<p class="help-block" data-ng-show="masterSlaveForm.$error.disjointDevices" data-localize="wizard.state-machine.errors.disjoint-devices">
			Use each device only once.
		</p>
		<p class="help-block" data-ng-show="masterSlave.slaves.length == 0" data-localize="wizard.state-machine.errors.no-slaves">
			Select at least on slave device.
		</p>
	</div>
	</br>
	<button data-ng-disabled="busy || (masterSlave.slaves.length >= masterSlave.slaveDevices.length - 1)" class="btn btn-success"
		data-localize="wizard.state-machine.add-slave" data-ng-click="masterSlave.addSlave()">Add Slave</button>
	<button class="btn btn-success"
		data-ng-disabled="masterSlaveForm.$invalid || busy || (masterSlave.slaves.length == 0)" 
		data-localize="wizard.state-machine.upload" data-ng-click="masterSlave.upload()">Upload</button>
</form>

