<% include ../header %>
<script>
	known_hexabus_devices = <%- JSON.stringify(devices) %>;
</script>



<div class="container" data-ng-controller="stateMachine">

	<div class="alert alert-info" data-ng-show="progressAlert.show">
		<div class="progress progress-striped active" data-ng-show="progressAlert.percent > 0">
			<div class="progress-bar" style="width: {{progressAlert.percent}}%"></div>
		</div>
		{{progressAlert.text}}
	</div>

	<div class="alert alert-danger" data-ng-show="errorAlert.show">
		{{errorAlert.text}}
	</div>

	<div class="alert alert-success" data-ng-show="successAlert.show" data-localize="wizard.state-machine.upload-success">
		Upload sucessful !
	</div>


	<div class="well">
		<h3 data-localize="wizard.state-machine.new">New state machine</h3>
		<div class="form-group">
			<label class="control-label" data-localize="wizard.state-machine.choose">Choose a ... from below.</label>
			<select class="form-control" data-ng-model="machineProp" data-ng-disabled="busy" data-ng-change="resetForms()">
				<option style="background-color: #d1f3d1;" value="threshold">Threshold</option>
				<option value="master_slave">Master/Slave</option>
				<option value="standbykiller">Standbykiller</option>
				<option value="production_threshold">Production Treshold</option>
			</select>
		</div>
	</div>

	<div class="well" data-ng-show="machineProp=='master_slave'">
		<% include forms/masterslave %>
	</div>

	<div data-ng-show="machineProp=='standbykiller'" class="well">
		<% include forms/standbykiller %>
	</div>

	<div data-ng-show="machineProp=='production_threshold'" class="well">
		<% include forms/productionthreshold %>
	</div>

	<div data-ng-show="machineProp=='threshold'" class="well">
		<% include forms/threshold %>
	</div>

</div>

<% include ../footer %>
