<% include ../header %>
<div class="container" data-ng-controller="stateMachine">

	<div class="alert alert-info" data-ng-show="progressAlert.show">
		<div class="row">
			<div class="col-md-2">
				<img src="img/spinner-large.gif"/>
			</div>
			<div class="col-md-10">
				<br/>
				<br/>
				<div class="progress progress-striped active" data-ng-show="progressAlert.percent > 0">
					<div class="progress-bar" style="width: {{progressAlert.percent}}%"></div>
				</div>
				{{progressAlert.text}}
			</div>
		</div>
	</div>

	<div class="alert alert-danger" data-ng-show="errorAlert.show">
		<div class="row">
			<div class="col-md-2">
				<img src="img/hexapus_ups.png"/>
			</div>
			<div class="col-md-10">
				<br/>
				<br/>
				<p class="text-center">
					{{errorAlert.text}}<br/>
					<br/>
					<a class="btn btn-warning" data-ng-click="retryLastUpload()"><span class="glyphicon glyphicon-repeat"></span> Retry</a>
				</p>
			</div>
		</div>
	</div>

	<div class="alert alert-warning" data-ng-show="conflictAlert.show">
		<div class="row">
			<div class="col-md-2">
				<img src="img/hexapus_ups.png"/>
			</div>
			<div class="col-md-10">
				<br/>
				<br/>
				<p class="text-center">
					{{conflictAlert.text}}
					<br/>
					<br/>
					<a class="btn btn-danger" data-ng-click="removeStatemachine(conflictAlert.conflict)">
						<span class="glyphicon glyphicon-trash"></span>
						<span data-localize="wizard.state-machine.delete">Delete</span>
					</a>
				</p>
			</div>
		</div>
	</div>

	<div class="alert alert-success" data-ng-show="successAlert.show">
		<div class="row">
			<div class="col-md-2">
				<img src="img/hexapus_sir.png"/>
			</div>
			<div class="col-md-10">
				<br/>
				<br/>
				<br/>
				<span data-localize="wizard.state-machine.upload-success">Upload sucessfull !</span>
			</div>
		</div>
	</div>

	<div>
		<h3>Statemachines</h3>
		<table class="table table-hover">
			<tr data-ng-repeat="machine in devicetree.statemachines">
				<th>
					<i>{{machine.name}}</i><br/>
					{{machine.machineClass}}<br/>
				</th>
				<td>
					<p class="comment-pre">{{machine.comment}}</p>
					<p data-ng-repeat="device in getUsedDevices(machine)">{{device.name}} <i>({{device.ip}})</i></p>
				</td>
				<td>
					<button type="button" class="btn btn-primary"data-ng-click="editStatemachine(machine.id)"><span class="glyphicon glyphicon-pencil"></span></button>
					<button type="button" class="btn btn-danger" data-ng-click="removeStatemachine(machine.id)"><span class="glyphicon glyphicon-trash"></span></button>			
				</td>
			</tr>
		</table>
	</div>


	<div class="well">
		<h3 data-localize="wizard.state-machine.new">New state machine</h3>
		<div class="form-group">
			<label class="control-label" data-localize="wizard.state-machine.choose">Choose a ... from below.</label>
			<select class="form-control" data-ng-model="machineClass" data-ng-disabled="busy" data-ng-change="changeClass()">
				<option value="Threshold" data-localize="wizard.state-machine.threshold-machine">Threshold</option>
				<option value="MasterSlave" data-localize="wizard.state-machine.master-slave-machine">Master/Slave</option>
				<option value="Standbykiller" data-localize="wizard.state-machine.standbykiller-machine">Standbykiller</option>
				<option value="ProductionThreshold" data-localize="wizard.state-machine.production-threshold-machine">Production Treshold</option>
			</select>
		</div>
	</div>


	<div data-ng-show="machineClass" class="well">
		<form role="form" name="machineForm" data-sf-schema="schema" data-sf-form="form" data-sf-model="model" data-ng-submit="submit()">
		</form>
	</div>

	{{model | json }}

	<br/>

	{{schema | json }}

	<br/>

	{{form | json }}

</div>

<% include ../footer %>
